/* Css Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
 /*------------------------- First Page --------------------------------------*/
#vessel {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}
 #vessel section {
  height: 100vh;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  display: flex;
}
 /* Navigation Bar */
 .barnav {
   position: fixed;
   background-color: #261C2C;
   height: 100%;
   width: 5%;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   transition: width 600ms ease;
 }
 .barnav:hover {
   width: 16rem;
   border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
 }
 .barnav:hover .link-text, .logo-text{
   display: block;
 }
 .barnav:hover .fas {
   color: white;
 }
 .barnav:hover #logo {
   color: #CCA43D;
 }
 .barnav:hover .logo-text {
   color: #CCA43D;
 }
 .barnav:hover .barnav-logo .fas {
   transform: rotate(-360deg);
 }
 .barnav-nav {
   list-style-type: none;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.van-item {
  width: 100%;
}
.van-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  transition: var(--transition-speed);
}
.van-link:hover {
  text-decoration: none;
}
.link-text:hover {
  color: black;
  display: block;
  font-weight: bold;
}
.link-text {
  display: none;
  color: black;
  font-weight: bold;
}
.van-link .fas {
  min-width: 2rem;
  width: 2rem;
  margin: 0 1.5rem;
}
.fas {
  font-size: 1.5rem;
  transition: var(--transition-speed);
  color: gray;
}
.barnav-logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.barnav-logo .fas {
  transform: rotate(0deg);
  transition: 600ms ease;
}
.text-vessel {
  width: 100%;
  height: 2em;
  background-color: white;;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
  margin-right: 1rem;
}
